project/*
target/*
test_run_dir/*
generated/*.json
generated/*.fir
*bat
vivado/project_*/*.log
vivado/project_*/*.jou
vivado/project_*/project_*.runs/*
vivado/project_*/project_*.cache/*
vivado/project_*/project_*.hw/*
vivado/project_*/*.str
*.dat
*.pyc
